
/* Кнопки */
:root {
    --text-color: #757575;
    --bnt-color-hover: #F5F4FA;
    --btn-color-hb: #2196F3;
    --btn-color-text: #212121;
    --default-white: #ffffff;
    --font-size: 14px;

}

/*Основные: цвет и текст */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--btn-color-text);
}

/*Header-Лого*/
.logo-color {
    color: var(--btn-color-hb);
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;

}


/*Header-Контактные линки */
.h-e-link,
.h-ph-link {

font-style: normal;
font-weight: 500;
font-size: var(--font-size);
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--text-color); 
}


/*
.header-contact-link .item {
    margin-right: 50px;
}

.header-contact-link .item:last-child {
    margin-right: 0;
}*/

.header-contact-link .h-e-link:hover,
.header-contact-link .h-e-link:focus {
    color: var(--btn-color-hb);
}

.header-contact-link .h-ph-link:hover,
.header-contact-link .h-ph-link:focus {
    color: var(--btn-color-hb);
}

/*Утилиты*/
.h-e-link,
.h-ph-link {
    text-decoration: none;
    font-style: normal;
}

.e-link {
    text-decoration: none;
    font-style: normal;
}

.ph-link {
    text-decoration: none;
    font-style: normal;
}


/*Корекция дефолтных настроек линок */


/*Header-Навигация */


.site-nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: var(--font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--btn-color-text);

}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--btn-color-hb);
}


/*Корекция дефолтных настроек списков */
li {
    list-style-type: none;
}






/* Кнопки-Главная */
button {
    cursor: pointer;
    border: none;
}

.hero-botton {

    background: var(--btn-color-hb);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}


/* Кнопки-Портфолио */
.site-all-bnt {

    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--btn-color-text);
    background: var(--bnt-color-hover);
}

.site-all-bnt:hover,
.site-all-bnt:focus {
    color: var(--bnt-color-hover);
    background: var(--btn-color-hb);
}

.site-web-bnt {

    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--btn-color-text);
    background: var(--bnt-color-hover);
}

.site-web-bnt:hover,
.site-web-bnt:focus {
    color: var(--bnt-color-hover);
    background: var(--btn-color-hb);
}
.site-app-bnt {

    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--btn-color-text);
    background: var(--bnt-color-hover);
}

.site-app-bnt:hover,
.site-app-bnt:focus {
    color: var(--bnt-color-hover);
    background: var(--btn-color-hb);
}

.site-dzn-bnt {

    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--btn-color-text);
    background:var(--bnt-color-hover);
}

.site-dzn-bnt:hover,
.site-dzn-bnt:focus {
    color: var(--bnt-color-hover);
    background: var(--btn-color-hb);
}

.site-mrc-bnt {
    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color:var(--btn-color-text);
    background: var(--bnt-color-hover);
}

.site-mrc-bnt:hover,
.site-mrc-bnt:focus {
    color: var(--bnt-color-hover);
    background: var(--btn-color-hb);
}
/*Заголовки */
.hero-block {
    text-align: center;
    background-color: #2F303A;
        }




.hero-titel {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;


}


/*Страница "Главная"*/



.about-us .name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.about-us .text {
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--text-color);
    
}

.conteiner>.about-us-title {
    text-align: center;
}

.about-us-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.about-us-list>.list {}



/*Страница "Портфолио"*/


.feature-list .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.feature-list .text {
    font-style: normal;
    font-size: 16px;
    line-height: 2.25;
    letter-spacing: 0.03em;
    color: var(--text-color); 
}

.benefit .title {
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.comteiner {
    width: ;
    padding-left: ;
    padding-right: ;

    margin-left: ;
    margin-right: ;
    background-color: ;
}



/* Текст */
.contact-link,
.benefit .text {
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/*Подвал*/
.bottom-logo-color {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.e-link,
.ph-link {
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);


}

.contact-link .e-link:hover,
.contact-link .e-link:focus {
    color: var(--btn-color-hb);
}

.contact-link .ph-link:hover,
.contact-link .ph-link:focus {
    color: var(--btn-color-hb);
}

.contact-link .addres-link:hover,
.contact-link .addres-link:focus {
    color: var(--btn-color-hb);
}

.addres-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;


    /*padding-bottom: 60px; /*дописать что нижнее тоже 9 для второго но для последнего 60*/
}

.footer {
    background: #2F303A;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
}