/*Корекция дефолтных настроек линок */
.link {
    text-decoration: none;
    font-style: normal;
}
link:active {
    color: red;
}
/*Корекция дефолтных настроек списков */
li
{
    list-style-type: none;
}

/*Основные: цвет и текст */
body {
    font-family: Roboto, sans-serif;
    color: #212121;
} 

/*Лого */
.logo {
    Font family: Raleway;
    Font style: Bold;
    Font size: 26px;
    Line height: 1.2;

}

 /*Навигация */
.site-nav .link
{
Font family: Roboto ;
Font style: Medium;
Font size: 16px;
Line height: 1.6;
}

button {
    cursor: pointer;
}

/*Заголовки */ 
h2 {
    font-size: 18px;
}

h3 {
font-size: 16px
}

/*заголовок на странице "Главная"*/
.list>h3 {
font-family: Roboto ;
Fontstyle: Bold;
Font size: 14px;
}

/* Текст */
.text {
    font-size: Roboto ;
    font-size: Regular ;
    font-size: 16px ;
    line-height: 1.8 ;
    color: #757575;
}


/*Контактные линки */
.contact-links .link:hover,
.contact-links .link:focus {
    color: #2196F3;
}

